body, html {
    height: 100%;
    margin: 0;
}
.fullScreen {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

#iframe1
{
    height:   100%;
    left:     0px;
    position: absolute;
    top:      0px;
    width:    100%;
}