#bannerimage {
width: 100%;
height: 405px;
background-color: purple;
background-position: center;
position: relative;
}

#messagearea {
top: 80px;
font-family: Lato, sans-serif;
font-weight: 600;
padding-left: 40px;
position: absolute;
background: rgba(0, 0, 0, 0.5);
color:white !important;
right: 0px;
left: 0px;
}


@media  only screen and (max-width:900px) {
	#messagearea {
		padding-left: 20px;
	}
	
	.messagearea-text {
		width:60%;
	}

}

@media only screen and (min-width:901px) {
	#messagearea {
		padding-left: 40px;
	}
	
	
	.messagearea-text {
		width:70%;
	}

}

#messagearea > div {
    float:left;
    color:white !important;
}

#messagearea > div > h1 {
    color: white !important;
}

#sparkprogress {
    left: 20px;
    bottom: 20px;
    position: absolute;
    color: white;
    font-weight: bold;
	display: none;
}

.circle { 
    width: 20px;
    height: 20px;
    background: transparent; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 15px;
    float:left;
    border:3px solid white;
    margin-right: 5px;
}

.circle-0 {
	background-color: red !important;
}

.circle-1 {
	background-color: yellow !important;
}

.circle-2 {
	background-color: #9CD63D !important; 
}

.circle-done { 
    margin-right: 5px;
    float: left;
    width: 20px;
    height: 20px;
    background: #9CD63D; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 15px;
    border:3px solid white;
}

#gocontainer {
    position: absolute;
    z-index: 1;
    top:80px;
    left:0px;
    bottom:0px;
    right:0px;
}

#gocontainer > div {
    float:right;
}

@media  only screen and (max-width:600px) {
	#gocontainer > div {
		margin-right: 20px;
		float:right;
		width:30%;
	}
}

@media  only screen and (min-width:601px) and (max-width:900px) {
	#gocontainer > div {
		margin-right: 20px;
		float:right;
		width:40%;
	}
}

@media only screen and (min-width:901px) {
	#gocontainer > div {
		margin-right: 40px;
		float:right;
	width:30%;
	
	}

}


#gobutton {
    width:100%;
	max-width:228px;
}

#gobutton > img {
    margin-top: -30px;
    max-width:200px;
	float: right;
}

@media only screen and (max-width: 768px) {
    #gobutton > img {
        margin-top: 10px;
        width:100%;
    } 
}

@media only screen and (max-width: 700px) {
   #gobutton > img {
        margin-top: 20px;
        width:100%;
    } 
}

@media only screen and (max-width: 884px) {
    .headerspacer {
		height:90px;
	} 
}

@media only screen and (max-width: 2000px) {
    .headerspacer {
		height:100px;
	} 
}


#diveinto {
	padding:20px;
	font-weight:600;
	font-size:32px;
	text-align:center;
}

.divepanel {
	text-align:center;
}
.divepanel a {
	text-decoration:none !important;
	color:#666 !important;
}
.divepanel img {
	max-width:120px;
}

.divetitle {
	font-weight:bold;
}
.nomargin {
	margin:0px !important;
}


.spark_gravity_form {
	position: relative !important;
	max-width:650px !important;
	margin-bottom: 100px !important;
}

.spark_gravity_form_wrapper {
	margin-top:-40px !important;
	margin-bottom:-40px !important;
	
}

.spark_gravity_form_wrapper .validation_message {
	display:none; /* KVB */
}

.spark_gravity_form_wrapper .img {
	margin-left: 0rem;
}

.gform_wrapper img {
	margin-left: 0rem;
}

.spark_gravity_form .gform_title {
	display:none !important;	
}

.spark_gravity_form .gf_progressbar_wrapper {
	position: absolute !important;
    bottom: -70px !important;
    text-align: center !important;
    margin: 0 auto !important;
}

.spark_gravity_form .gf_progressbar {
	max-width: 200px !important;
    margin: 0 auto !important;
	padding: 0px !important;
    border-radius: 0px !important;
    border-color: transparent !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    height: 9px !important;
    background-color: #efefef !important;
}

.spark_gravity_form .gf_progressbar_percentage {
    height: 9px;
    background-color: #ba106b !important;
    background: #ba106b !important;
	
}

.spark_gravity_form div.gf_progressbar_wrapper > h3.gf_progressbar_title {
    position: absolute !important;
    width: inherit !important;
    margin: 14px 0px 0px 0px !important;
}

.gf_progressbar_percentage > span {
	display:none !important;
}

.spark_gravity_form .gform_page_footer {
	text-align: center;
    margin-bottom: 60px;
	/* margin-top: -20px !important; KVB */
	border-top: none !important;
}
.spark_gravity_form div.gform_page_footer > a.gform_save_link {
	position: absolute !important;
    width: 100%;
    text-align: center;
    left: 0px;
    margin-top: -38px;
    margin-left: 0px;
}

.spark_gravity_form .gform_next_button {
	font-size:large !important;
	margin-right:0px !important;
}

.spark_gravity_form .gform_previous_button {
    font-size: small !important;
    position: absolute;
    margin-top: 48px !important;
    background-color: transparent !important;
    width: inherit !important;
    color: gray !important;
    box-shadow: none !important;
    left: 0px !important;
    text-align: center !important;
}

.spark_gravity_form .ginput_preview {    
	/*float: left;*/
    /*width: 100%;*/
    position: relative !important;
 	display: inline-block;
    background: url(/wp-content/uploads/2018/09/file_icon-1.png); 
    background-repeat: no-repeat;
    /*background-position: top center;*/
    /*margin-bottom: 26px;  KVB*/
	/*margin-right:10px; */
	/*padding-top:65px; KVB*/
	    margin-top: 20px;
	background-size: 40px 50px !important;
	
}

.spark_gravity_form .ginput_preview > img {
	left: 46% !important;
    position: relative !important;
    /* width: 0px !important; */
	height:0px !important;
	padding:30px !important;
	/*background-color:red;*/
	background: url(/wp-content/uploads/2018/09/delete40x.gif) !important;
	background-repeat: no-repeat !important;
	background-size: 15px 15px !important;
	/* background-position: top center !important; */
	/* top: -60px; KVB */
	
}

.spark_gravity_form .ginput_preview > strong {
	text-overflow: ellipsis;
    display: none;
    overflow: hidden;
    height: 22px;
    position: absolute;
    bottom: -22px;
    width: inherit;
    white-space: nowrap;
}

.spark_upload > label.gfield_label {
	display:none !important;
}
/* Upload Multiple files */
.spark_upload > .gform_fileupload_multifile {
	position:relative !important;
}

.spark_upload div.gform_drop_area {
	padding: 0px !important;
	position:relative !important;
	border: none !important;
}

.spark_upload .gform_drop_instructions {
	display:none !important;
}



.spark_upload_video .gform_button_select_files {
    background-image: url('/wp-content/uploads/2018/10/record_selfie.png') !important;
}

.spark_upload_image .gform_button_select_files {
	background-image: url('/wp-content/uploads/2018/03/upload_images.png') !important;
}


.spark_upload .gform_button_select_files {
    color: transparent  !important;
    width: 230px  !important;
    height: 45px  !important;
    background-size: 230px 45px !important;
	opacity: 0 !important
}

/* upload single file */
.spark_upload  div.ginput_container_fileupload { 
	background: url(/wp-content/uploads/2018/10/upload_photo.png);
    width: 230px !important;
    height: 45px !important;
    background-size: 230px 45px !important;
    text-align: center !important;
    margin: 0px auto !important;
}

.spark_upload div.ginput_container_fileupload > input[name^="input"] {
	opacity: 0 !important;
    width: 100% !important;
    cursor: pointer !important;
    height: 45px !important;
}

.spark_upload_video div.ginput_container_fileupload {
    background-image: url('/wp-content/uploads/2018/10/record_selfie.png') !important;
	
}


/* Blog posts */
.w-blog-post-meta {
	display:none;
}

span.w-nav-title {
	color: white !important;
    font-weight: bold;
}

/* vimeo and youtube video embed style */

.embed-container { 
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	max-width: 100%; 
	margin-top:20px;
	margin-bottom:20px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container .vp-player-layout { 
	position: absolute !important; 
	top: 0  !important; 
	left: 0 !important; 
	width: 100% !important;
	height: 100% !important;
}




@media only screen and (max-width:704px) {
	.embed-anchor {
	height: 0;
    padding-bottom: 90%;
		margin-top:-17px;
}


	.embed-overlay {
		position: absolute;
		width: 100vw;
		left: -25px;
		max-width: 800px;
	}
}
@media only screen and (min-width:660px) and (max-width:704px) {
	.embed-overlay {
		left: -43px;
	}


}
.spark_page_button {
	text-align: center;
    width: 50%;
    float: left;
}

.spark_page_button a {
	margin-left:-50px;
}

.spark_page_button img {
	width: 40px;
}

.spark_page_button span {
	margin-top: 8px;
    position: absolute;
    margin-left: 10px;
}

#input_1_3_3_container:span {
	width:100%;
}


input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:35px;
	height:30px; 
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:17px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -30px;
}
label.css-label {
	background-image:url(/wp-content/uploads/2018/05/csscheckbox_f60067e68146be412873f96f1d2458cd.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/***** MY SPARKS *****/
.mysparks-row-container {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    height: 107px;
}

.mysparks-row-thumbnail {
    width: 120px;
    float: left;
    margin: 8px;
}

.mysparks-row-thumbnail img {
    width: 100%;
}

.mysparks-row-details {
    padding: 5px;
    position: relative;
}

a.mysparks-row-delete {
    position: absolute;
    bottom: 5px;
    left: 140px;
    font-size: 12pt; 
	text-decoration: none;
    color: black;
}

.mysparks-row-title {
    padding-top: 5px;
    padding-left: 140px;
}


.mysparks-row {
    margin-bottom: 10px;
    background-color: white;
	    border-bottom: 1px solid lightgray;
}

.mysparks-title {
    color: black;
    font-size: 18pt;
    margin-bottom: 20px;
    text-align: center;
}

.mysparks-row-title a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width:540px) {
	.mysparks-container {
		background-color: lightgray;
		margin-left: -25px;
		margin-right: -25px;
		margin-top: -25px;
		padding-top: 20px;
		padding-bottom: 40px;
		margin-bottom: -40px;
	}
}
@media only screen and (min-width:540px) {
	.mysparks-container {
		background-color: lightgray;
		margin-left: -40px;
		margin-right: -40px;
		margin-top: -40px;
		padding-top: 20px;
		padding-bottom: 40px;
		margin-bottom: -40px;
	}
	
}

td.noborder {
	border-bottom:none;
	border:none;
}


/* --------------------- Gravity Forms - Image choices ----------------*/
.custom_image_choices{
	text-align: center !important;
	padding-left:30px;
}

.custom_image_choices li{
	border: none !important;
	/*border-style: solid !important;
	border-color: green !important;*/
	display: inline-block !important;
	text-align: center !important;
	font-size: 30px !important;
	padding-left: 50px;
}

.custom_image_choices li>label{
/*	border-style: dotted !important;
	border-color: black !important;*/
	width: 100% !important;
	position: relative !important;
}

.custom_image_choices li.image-choices-choice > label{
/*	border-style: dotted !important;
	border-color: yellow !important;*/
	padding: 0 !important;
}

.custom_image_choices li>label>span.image-choices-choice-image-wrap{
/*	border-style: solid !important;
	border-color: yellow !important;*/
	width: 100% !important;
	padding-bottom: 100% !important;
	margin-bottom: 0px !important;
}

.custom_image_choices li>label>span.image-choices-choice-text{ 
	/* border-style: solid !important;
	border-color: red !important; */
	width: 90% !important;
	font-size: 15px !important;
	background-color: #f8fff5 !important;
	
	position: absolute !important;
	bottom: 4% !important;/*label*/
	padding-top: 0px !important;
	margin-left: 5% !important;
	margin-bottom: 0px !important;
	display:block;
}

.custom_image_choices li.image-choices-choice:after{
/*	border-style: solid !important;
	border-color: purple !important;*/
	font-size: 100px !important;
	content: "\2714" !important;
	pointer-events: none !important;
	opacity: 0 !important;
	transition: all .3s !important;
	text-align: center !important;
	line-height: 1px !important;
	display: inline !important;
	position: absolute !important;
	left: 30% !important;
	bottom: 20% !important;
}

.custom_image_choices li.image-choices-choice.image-choices-choice-selected:after{
/*	border-style: solid !important;
	border-color: ##f41664 !important;*/
	color: #f41664 !important;
	opacity: 1 !important;
	bottom: 50% !important;
}

.custom_image_choices li.image-choices-choice.image-choices-choice-selected{
	border-style: none !important;
}

.custom_image_choices label.gfield_label{
	/*border-style: solid !important;
	border-color: #f41664 !important;*/
	width: 100% !important;
}

.custom_image_choices div.ginput_container{
	margin-left: 0% !important;
	width: 100% !important;
	text-align: center !important;
}


@media only screen and (max-width: 2000px) {
	.custom_image_choices li,
	.gform_wrapper .gfield.custom_image_choices li.image-choices-choice
	{
		width: 20% !important;
		margin: auto !important;
	}
	.custom_image_choices ul.gfield_radio{
		margin-left: -10% !important;
	}
}


@media only screen and (max-width: 950px) {
	.custom_image_choices li,
	.gform_wrapper .gfield.custom_image_choices li.image-choices-choice
	{
		width: 33.3% !important;
		margin: auto !important;
	}
	.custom_image_choices ul.gfield_radio{
		margin-left: -10% !important;
	}
}

@media only screen and (max-width: 520px) {
	.custom_image_choices li,
	.gform_wrapper .gfield.custom_image_choices li.image-choices-choice
	{
		width: 50% !important;
		margin: auto !important;
	}
}


.gform_wrapper ul.gform_fields li.gfield .custom_choices_radio li>label{
	padding-right:16px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
 { 
	.custom_image_choices li,
	.gform_wrapper .gfield.custom_image_choices li.image-choices-choice
	{
		width: 20.33% !important;
		margin: auto !important;
	}
	.custom_image_choices ul.gfield_radio{
		margin-left: -10% !important;
	}
}

.gform_delete{
	/*display:none !important;*/
}

.spark_gravity_form .ginput_preview .gform_delete{
	
}
#gform_preview_10_9  {
	text-align:center !important;
}
#gform_preview_10_42, #gform_preview_48_46, #gform_preview_48_29, #gform_preview_48_45, 
#gform_preview_51_46, #gform_preview_51_29, #gform_preview_50_53, #gform_preview_50_54,
#gform_preview_50_29, #gform_preview_52_4, #gform_preview_52_30{
	text-align:center !important;
}

.spark_gravity_form_wrapper .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.spark_gravity_form_wrapper .active, .collapsible:hover {
    background-color: white;
}

.spark_gravity_form_wrapper .content {
    padding: 0 18px;
	padding-top: 5px;
	padding-bottom: 5px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}




