        body {
        margin: 0;
         background-image: url('images/bg2.png'); 
        background-size: cover;
        background-repeat: no-repeat;
        }
        
       .container {
        width: 700px;
        height: 400px;
        perspective: 1000px;
        -webkit-perspective: 1000px;
        -ms-perspective: 1000px;
        margin-left:40% !important;


         
        }
        
        .card {
        width: 930px;
        height: 100%;
        display: inline-block;
        margin-right: 0 !important;
        -ms-transform: rotateX(60deg);
        -webkit-transform: rotateX(60deg);
        transform: rotateX(60deg);
        -ms-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        cursor: pointer;
        box-shadow: 0 25px 80px 0 rgba(0, 0, 0, 0.6);
        }
        
        
        .card:hover {
        -ms-transform: rotateX(0deg) scale(1.33, 1.33);
        -webkit-transform: rotateX(0deg) scale(1.33, 1.33);
        transform: rotateX(0deg) scale(1.33, 1.33);
        }

        .hover{
            -ms-transform: rotateX(0deg) scale(1.33, 1.33);
            -webkit-transform: rotateX(0deg) scale(1.33, 1.33);
            transform: rotateX(0deg) scale(1.33, 1.33);
        }
        
        .left {
        background: #FFC0CB;
        }

        .center {
        background: #9932CC;
        margin: 0 96px 0 100px;
        }

        .right {
        background: #c0392b;
        }

        .text {
        color: white;
        font-size: 25px;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
              }

        .nav {
        text-decoration: none !important;
         list-style-type: none;
     }
     .pop{
       width: 25%;
       background-color:white !important;
       margin-top: 170px;
     }
        .nav li {
    display: block;
    font-size: 20px;
    padding-right: 20px !important;
    color: white;

}

.card {
    margin-top: -20% !important;
    margin-right:50px;

}
.nav li a{
  color:white;
  text-decoration: none;
  font-size:20px;
  text-shadow: 4px 4px 10px #000000;
  float:left;
    margin-top: 30px;


}


li a {
    display: inline-block;
  position: relative;

}
/*effect-underline*/
li a.effect-underline:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

li a.effect-underline:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

img {
   margin-left:40%;
   width: 25%;
}
