body {
     margin: 0;
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    /*background-image: linear-gradient(to right top, #6D0613, #6C1137, #5C2752, #443760, #314260,#2F4858);*/
    background-image: url('images/bg2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}
        
.container {
    width: 950px;
    height: 400px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    margin: 0 auto;
    margin-top:50px;
}
        
.card {
   width: 600px;
   height: 100%;
    display: inline-block;
    margin-right: -2px;
    -ms-transform: rotateX(60deg);       
    -webkit-transform:rotateX(60deg);        
    transform: rotateX(60deg);        
     -ms-transition: all0.4s;         
-webkit-transition: all 0.4s;        
 transition: all 0.4s;
cursor: pointer;         
box-shadow: 0 25px 80px 0 rgba(0, 0, 0, 0.6);
}
        
.card:hover {
     -ms-transform: rotateX(0deg) scale(1.33, 1.33);
    -webkit-transform: rotateX(0deg) scale(1.33, 1.33);
    transform: rotateX(0deg) scale(1.33, 1.33);
     }

.hover{
     -ms-transform: rotateX(0deg) scale(1.33, 1.33);
     -webkit-transform: rotateX(0deg) scale(1.33, 1.33);
    transform: rotateX(0deg) scale(1.33, 1.33);
        }
        
.left {
    background: #FFC0CB;
 }

.center {
    background: #9932CC;
    margin: 0 96px 0 100px;
 }

 .right {
     background: #c0392b;
    }

.text {
     color: white;
    font-size: 25px;
     position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
              }

.nav {
    text-decoration: none !important;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: white;
    margin-top: 2px;
}

.card {
    margin-top: 10% !important;
    margin-right:150px;
}
.nav li a{
  color:white;
  text-decoration: none;
  font-size:20px;
  text-shadow: 4px 4px 10px #000000;
 

}


li a {
    display: inline-block;
  position: relative;

  
}
/*effect-underline*/
li a.effect-underline:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

li a.effect-underline:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

img {
   margin-left:40%;
   width: 25%;

}
